.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	align-items:center;
	display: flex;
}

.locations{
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;
}

.filters h3{
	padding-left: 40px;
	padding-top: 10px;
	font-weight: 600;
	margin: 5px;
}

.filters h4{
	font-weight: 400;
	font-size: 14px;
	margin: 5px;
	padding-left: 40px;
}

.filters .amenities {
	height: 100%;
	width: 25%;
}

button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border:0px;
	border-radius: 4px;
	margin-right: 30px;
	margin-left: auto;
}

button:hover {
	opacity: 90%;
}

.popover {
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	padding-bottom: 40px;
	padding-top: 20px;
	text-align: left;
	padding-left: 45px;
	margin-left: 0;
	opacity: .99;
	visibility: hidden;
}


.locations:hover .popover{
	visibility: visible;
}

.amenities:hover .popover{
	visibility: visible;
}

.popover h2{
	padding-top: 0;
	margin-top: 0;
	margin-left: -10px;
	padding-left: 0;
	font-size: 16px;
}

.popover li{
	list-style-type:none;
	padding-top: 5px;
	padding-bottom: 5px;
}

.popover ul{
	text-align: left;
	padding-left: 0px;
	margin-left: 0;
	padding-bottom: 10px;
}
